name: Docker

on:
    workflow_call:
 
jobs:

  Docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup docker build
      uses: docker/setup-buildx-action@v2.0.0 

    - name: Download a Build Artifact
      uses: actions/download-artifact@v3
      with:
        name: programa

    - name: Docker Login
      uses: docker/login-action@v3
      with:
        username: stug9000
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
  
    - name: Build and push Docker images
      uses: docker/build-push-action@v6.19.1
      with:
        context: .
        file: ./Dockerfile 
        push: true
        tags: stug9000/projeto-base:${{github.ref_name}}