name: Docker

on:
    workflow_call:
 
jobs:

  Docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup docker build
      uses: docker/setup-buildx-action@v2.0.0 

    - name: Docker Login
      uses: docker/login-action@v3
      with:
        username: stug9000
        password: ${{ secrets.DOCKERHUB_PASSWORD }}